@page
@model Rstore_ext.Pages.Products.CreateModel
@{
    ViewData["Title"] = "Добавить товар";
}

<h2>Добавить товар</h2>

<form method="post">
    <div class="form-group">
        <label>Название</label>
        <input asp-for="Product.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Цена</label>
        <input asp-for="Product.Price" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Сохранить</button>
    <a asp-page="Index" class="btn btn-secondary mt-2">Отмена</a>
</form>
